<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="layout/base::layout(~{::body})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="panel panel-primary p-5">
  <div class="panel-heading">YOUR ORDERS PURCHASED</div>
  <table class="table">
    <thead>
    <tr>
      <th>No.</th>
      <th>Order No.</th>
      <th>Order Date</th>
      <th>Shipping Address</th>
      <th>View detail</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order, state: ${orders}">
      <td>[[${state.index}]]</td>
      <td>[[${order.id}]]</td>
      <td>[[${order.orderedAt}]]</td>
      <td>[[${order.address}]]</td>
      <td>
        <a th:href="@{|/user/orders/${order.id}|}" class="btn btn-warning">
          <i class="fas fa-eye text-white"></i>
        </a>
      </td>

    </tr>
    </tbody>
  </table>
</div>
</body>
</html>